<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<context:component-scan base-package="com.emaxwell.spring*" />

	<bean id="sessionFactory"
	    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	   <property name="dataSource" ref="dataSource" />
	   <property name="packagesToScan" value="com.emaxwell.domain" />
	   <!--  When using hibernate config file
	   <property name="configLocation"> 
	   		<value>/WEB-INF/hibernate.cfg.xml</value> 
	   </property>
	   -->
	</bean>
	
	<bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:annotation-driven/>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/budget_db"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

<!-- Hibernate 3
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> 
		<property name="configLocation"> <value>file:src/hibernate.cfg.xml</value> 
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	 -->
</beans>